@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rouge+Script&display=swap');

body {
    width: 960px;
    margin: auto;
    background-color: #064232;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    color: #FFF5F2;
}

nav {
    display: block;
    font-weight: 600;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav>ul>li {
    display: inline-block;
    padding: 8px 16px;
    font-size: 24px;
}

nav ul li {
    position: relative;
    transition: 0.3s;
}

nav li:hover {
    background-color: #568F87;
    border-radius: 0px;
    transition: 0.3s;
}

nav a {
    color: #FFF5F2;
    text-decoration: none;
}

.submenu {
    position: absolute;
    left: 0;
    margin-top: 8px;
    width: 248px;
    display: none;
}

li:hover>.submenu {
    display: block;
    background-color: #064232;
}

.submenu li {
    float: none;
    padding: 8px 16px;
}

#title {
    font-family: "Rouge Script", cursive;
    font-size: 72px;
    color: #F5BABB;
    text-align: center;
    padding: 16px 0px;
}

#home_content img {
    margin: auto;
    display: block;
    width: 800px;
}

hr {
    color: #FFF5F2;
}

h2 {
    font-size: 32px;
    font-weight: bold;
    color: #F5BABB;
    text-align: left;
}

#about_content {
    text-align: center;
}

#about_content img {
    width: 800px;
}

#services_content li {
    padding: 8px;
}

#services_content table {
    margin: 24px auto;
    border-collapse: collapse;
    width: 80%;
    text-align: center;
}

#services_content table th,
#services_content table td {
    border: 1px solid #064232;
    padding: 16px;
}

#services_content table tr {
    background-color: #568F87;
}

#services_content tr:nth-child(even) {
    background-color: #6cb4ab;
}

.inputs {
    box-sizing: border-box;
    /* resize: vertical; */
    width: 100%;
    padding: 12px;
    font-size: 16px;
    margin: 8px 0px;
    border-radius: 8px;
    border-color: #568F87;
}

input[type=submit] {
    background-color: #568F87;
    border: none;
    border-radius: 5px;
    color: #FFF5F2;
    font-size: 18px;
    font-weight: 600;
    padding: 8px;
    margin: 16px 0px;
    transition: 0.3s;
}

input[type=submit]:hover {
    background-color: #3f6964;
    transition: 0.3s;
    cursor: pointer;
}

label {
    font-weight: 500;
}

#copyright {
    font-size: 12px;
    font-weight: 400;
    text-align: center;
}